<%- include("user-interface-header") -%>

<div class="main">
  <ol>

  <%    users.forEach((item)=>{ %>
    <li>
    <form action="/delete-student" method="post">



      <div class="user">
        
     <p>Name: <%= item.name %></p>
     <p>Registration no:<%= item.registrationNo %></p>

    <% if(button == 'student'){ %>
      <p>Exam-Status : <%= item.status %></p>
    <% if(item.status=="Appeared"){ %>

      <p>Marks obtained: <strong><%= item.marksObtained %></strong> out of <%= item.result.length %></p>
  <%  }  %>
      <button type="submit" class="button" name="button" value="<%=item._id%>">Remove Student</button>
      <input type="hidden" name="title" value="<%=title%>">
      <input type="hidden" name="name" value="<%=name%>">
      <input type="hidden" name="regno" value="<%=regno%>">
  <%  } %>
     
    </div>
    
    </form>
  </li>

<%    })  %>
</ol>
</div>

<%- include("user-interface-footer") -%>
