<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    /> -->
    <link rel="stylesheet" href="style2.css" />
    <title><%= title %></title>
  </head>
  <body>

    <div class="header"> 

        <div class="profile">
            <p>Name:  <%= name %></p>
            <p>Registration no: <%= regno %></p>

        </div>

        <div class="nav">

            <form action="/navigate" method="post">
              <% if(title == 'Admin' || title=="Teacher"){  %>

              <span><button type="submit" name="button" value="admin">Admins</button> </span>
            <span><button type="submit" name="button" value="teacher">Teachers</button> </span>
            <span><button type="submit" name="button" value="student">Students</button> </span>
            <span><button type="submit" name="button" value="questions">Questions</button> </span>
           <%   } %>
            
           <!-- result interface -->
         <%  if(title=="Result"){ %>
            <span><button type="submit" name="button" value="score-card">View Score</button> </span>
            <span><button type="submit" name="button" value="view-ans">View Answers</button> </span>
        <%  } %>

           <% if(title != 'Student'){  %>
            <span><button type="submit" id="logout" name="button" value="logout">Logout</button> </span>
            <%   } %>

           
            <span id="demo"></span>
            <input type="hidden" name="title" value="<%= title %>">
            <input type="hidden" name="name" value="<%= name %>">
            <input type="hidden" name="regno" value="<%= regno %>">


        </form>
        </div>
    </div>

    <div class="body">

   